@import url(reset.css);

/* === Side Bar === */
#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 4em;
    padding: 1em 0;
    border: 1px solid var(--border-color);
}

.side-bar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-bar-links a {
    color: var(--text-color-bg-color);
    font-size: 0.8em;
    padding: 0.6em;
    border-radius: 8px;
}

.side-bar-logo-container a {
    font-size: 1em;
}

.side-bar-links a:hover, .side-bar-logo-container a:hover {
    background-color: var(--hover-bg-color);
}

.side-bar-logo-container {
    margin-bottom: 1.5em;
}

.side-bar-logo-container a img {
    width: 2.2em;
}

#user-photo {
    width: 2.2em;
    height: 2.2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/user-photo.webp);
    border-radius: 50%;
}

/* Header style */
#main-container {
    width: 100%;
    height: 100%;
}

#header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color);
    background-color: rgba(33, 33, 33, 0.4);
}

#chat-version, #chat-upgrade {
    color: var(--text-color-bg-color);
    text-decoration: none;
    padding: 0.5em 1em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#chat-version {
    font-size: 1.1em;
    font-weight: 400;

    &:hover {
        background-color: var(--hover-bg-color);
    }
}

.fa-solid, .fa-regular {
    font-size: 0.9em;
}

#chat-upgrade {
    font-size: 0.9em;
    background-color: var(--upgrade-bg-color);
    font-weight: 400;

    &:hover {
        background-color: var(--upgrade-hover-bg-color);
    }
}

.icons-hover-style {
    width: 2.5em;
    height: 2.5em;
    color: var(--text-color-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.icons-hover-style:hover {
    background-color: var(--hover-bg-color);
}

/* Conversation container */
#conversation-container {
    max-width: 960px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 70vh;

    h3 {
        color: var(--text-color-bg-color);
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 0.2em;
    }
}

#input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
        width: 80%;
        padding: 1em 3.5em;
        border-radius: 2.2em;
        background-color: var(--input-bg-color);
        border: 1px solid var(--hover-bg-color);
        font-size: 1em;
        font-weight: 500;
        color: var(--text-color-bg-color);
    }
}

#img-container {
    position: absolute;
    left: 11%;
    font-size: 1.1em;
}

#input-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 11%;
}