/* ============================= */
/* Reset e configurações gerais  */
/* ============================= */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1em 'Open Sans', Helvetica, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: #111b21;
  color: #fff;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;


/* ============================= */
/* Sidebar                       */
/* ============================= */

.sidebar {
  display: flex;
  flex-direction: column;
  background: #202c33;
  max-width: 420px;
  min-width: 300px;
  width: 30%;
  height: 100%;
  border-right: 1px solid #53bdeb
}

/* Toolbar */
.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2a3942;
}

.user-photo {
  width: 44px;
  height: 44px;
  background-color: #aebac1;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.auxicons-toolbar-container i,
.chattools-container i {
  color: #aebac1;
  cursor: pointer;
  margin-left: 20px;
}

/* Notification Container */

.notification-container {
  text-align: center;
  background-color: #182229;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #2a3942;
}

.notification-container i {
  color: #53bdeb;
  font-size: 1.1em;
}

.notification-container .receive-notification {
  color: #d1d7db;
  font-size: 0.8em;
  font-weight: bold;
}

.notification-container .active-notification {
  color: #53bdeb;
  font-size: 0.8em;
}

/* Search Bar */

.search-container {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #2a3942;
}

.search-container #contact-search {
  color: #53bdeb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  border-radius: 10px;
}

#search {
  width: 90%;
  height: 30px;
  font-size: 0.8em;
  border-radius: 10px;
  border: 1px solid #53bdeb;
  padding: 10px 30px;
  color: #53bdeb;
}

/* Contacts */

.contacts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.contact-box {
  width: 100%;
  display: flex;
  padding: 12px 15px;
  border-bottom: 1px solid #2a3942;
  cursor: pointer;
  transition: .5s ease;
}
.contact-box:hover {
  background-color: #2a3942;
}
.contact-box.active-chat {
  background-color: #2a3942;
}

.user-info {
  margin-left: 15px;
  text-align: left;
  flex: 1;
}

.user-messagepreview {
  font-size: 0.9em;
}

.user-info i {
  color: #3C4E59;
  margin-right: 5px;
}

.user-info i.open {
  color: #53bdeb;
}

.user-name {
  font-weight: bold;
}

.message-info {
  text-align: center;
}

.message-time {
  font-size: 0.7em;
  padding-bottom: 10px;
}

.messages-pending {
  font-size: 0.8em;
  background-color: #53bdeb;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-weight: bold;
}

/* ============================= */
/* Chat Area                     */
/* ============================= */

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #0b141a;
}

/* Nav do Chat */

.chat-navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2a3942;
}

.contactinfo-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.contactinfo-container .user-name {
  margin-left: 10px;
}

.chattools-container {
  display: flex;
  flex-direction: row;
}

/* Message Container */

.messages-container {
  flex: 1;
  position: relative;
  padding: 15px;
}

.bg-image {
  position: absolute;
  inset: 0;
  opacity: 0.2;
  background: url("img/background_whats.png") center;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.guest-message {
  background-color: #202c33;
  align-self: flex-start;
}

.user-message {
  background-color: #47A4CC;
  align-self: flex-end;
}

.guest-message,
.user-message {
  color: #e9edef;
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.9em;
}

/* Input chat area */

.sendmessage-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: #202C33;
}

.userinput {
  flex: 1;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #53bdeb;
  padding: 0 10px;
  color: #53bdeb;
  outline: none;
}

.sendmessage-container i {
  margin: 0 15px;
  cursor: pointer;
}

.sendmessage-container i.micro {
  background-color: #47A4CC;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: bold;
}