@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --netflix-principal-color: #E60000;
    --netflix-accent-color: #E50914;
    --netflix-hover-color: #920000;
    --default-color-text: #FFF;
    --alternative-color-text: #CCC;
    --default-border-radius: 0.5em;
    --default-font-size: 1em;
    --title-font-size: 1.5em;
    --alternative-font-size: 0.8em;
    --small-font-size: 0.6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #000;
    color: var(--default-color-text);
    position: relative;
    overflow-x: hidden;
}

body:after {
    content: '';
    width: 220px;
    height: 220px;
    position: absolute;
    top: 10%;
    left: 80%;
    background-color: #E50914;
    filter: blur(90px);
    z-index: 1;
}

body:before {
    content: '';
    width: 220px;
    height: 220px;
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: #E50914;
    filter: blur(90px);
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0 1em;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* Nav Styles */
#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    box-shadow: 0 0 50px 10px #000;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
}

#logo img {
    width: 120px;
    cursor: pointer;
    max-width: 100%;
}

#nav-links {
    display: flex;
    gap: 1.7em;
    flex-wrap: wrap;
}

#nav-links a {
    color: var(--default-color-text);
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 3px;
    transition: all .3s ease;
    font-size: var(--alternative-font-size);
    white-space: nowrap;
}

#nav-tools {
    display: flex;
    gap: 1.7em;
}

#nav-tools .fa-solid {
    cursor: pointer;
    transition: all .3s ease;
    font-size: 1.2em;
}

#nav-tools .fa-solid:hover,
#nav-links a:hover {
    transform: translateY(-2px);
    color: var(--alternative-color-text);
}

/* Mobile Menu Button */
.mobile-menu-btn {
    display: none;
    background: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    text-align: right;
}

/* Trailer */
    .trailer-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trailer-modal.active {
    display: flex;
    opacity: 1;
}

.modal-content {
    position: relative;
    width: 90%;
    max-width: 800px;
    background: #000;
    border-radius: var(--default-border-radius);
    overflow: hidden;
    box-shadow: 0 0 30px rgba(229, 9, 20, 0.5);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.trailer-modal.active .modal-content {
    transform: scale(1);
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--netflix-accent-color);
    color: white;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    transition: all 0.3s ease;
    min-width: 0;
}

.close-modal:hover {
    background: var(--netflix-hover-color);
    transform: scale(1.1);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Principal Banner */
#principal-banner {
    position: relative;
    overflow: hidden;
    border-radius: var(--default-border-radius);
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    border: 1px solid var(--netflix-accent-color);
    box-shadow: 0 0 15px 8px rgba(229, 9, 20, 0.3);
    padding: 1.5em 0;
}

@media (min-width: 768px) {
    #principal-banner {
        grid-template-columns: 3fr 3fr;
        padding: 2em 0;
    }
}

/* Pseudo-elemento para o fundo */
#principal-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:url(../assets/back-banner-6.webp); /*url(../assets/back-banner-3.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}

.banner-info {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
    .banner-info {
        padding: 0 2em;
    }
}

.netflix-ref {
    text-align: center;
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    justify-content: center;
}
.netflix-ref img {
    width: 30px;
    max-width: 100%;
}

.netflix-ref span {
    color: var(--default-color-text);
    font-size: 1.3em;
    font-weight: 300;
}

#logo-banner {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.banner-alerts {
    margin-top: -1.6em;
    text-align: center;
}

.banner-alerts span {
    font-weight: 300;
    color: var(--alternative-color-text);
    font-size: var(--default-font-size);
    display: inline-block;
    margin: 0 5px;
}

.banner-alerts span.age-alert {
    display: inline-block;
    width: 50px;
    text-align: center;
    background-color: var(--netflix-accent-color);
    color: var(--default-color-text);
    font-weight: bold;
    padding: 5px 0;
    border-radius: var(--default-border-radius);
}

.text-banner {
    font-size: var(--alternative-font-size);
    color: var(--alternative-color-text);
    line-height: 1.3em;
    text-align: center;
}

@media (min-width: 768px) {
    .text-banner {
        text-align: left;
    }
}

.buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .buttons {
        justify-content: flex-start;
        gap: 2em;
    }
}

button {
    padding: 12px 15px;
    border-radius: var(--default-border-radius);
    color: var(--default-color-text);
    font-size: 0.9em;
    cursor: pointer;
    transition: all .3s ease;
    text-transform: capitalize;
    min-width: 150px;
}

@media (max-width: 768px) {
    button {
        padding: 15px 20px;
        font-size: 1em;
        width: 100%;
    }
}


button:hover {
    transform: translateY(-3px);
}

button.play-btn {
    background: var(--netflix-accent-color);
    font-weight: 300;
    box-shadow: 0 0 10px 5px rgba(229, 9, 20, 0.5);
    display: flex;
    gap: 0.4em;
    justify-content: center;
    align-items: center;
}

button.trailer-btn {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--default-color-text);
    font-weight: 300;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button.trailer-btn:hover {
    transform: translateY(-3px);
}

/* Prevent body scroll when modal is open */
body.modal-open {
    overflow: hidden;
}

button.play-btn:hover {
    background-color: var(--netflix-hover-color);
    box-shadow: 0 0 10px 5px rgba(146, 0, 0, 0.5);
}

#emphasis-img {
    background-image:url(../assets/banner-principal-12.webp); /*url(../assets/banner-principal-11.jpg); */
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    border: 1px solid #FFF;
    justify-self: center;
    margin: 2em;
}

@media (min-width: 768px) {
    #emphasis-img {
        height: 400px;
        border-radius: 5em;
    }
}

/* Announcement Area */
#announcement-container {
    display: grid;
    padding: 1.5em;
    width: 100%;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    border-radius: var(--default-border-radius);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--netflix-accent-color);
    z-index: 2;
    text-align: center;
}

@media (min-width: 768px) {
    #announcement-container {
        grid-template-columns: 3fr 1fr 3fr 1fr;
        padding: 2em;
        text-align: left;
    }
}

#annoucement-products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#annoucement-products img {
    width: 60px;
    border-radius: 20%;
    border: 1px solid var(--default-color-text);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
    #annoucement-products img {
        width: 80px;
    }
}

#annoucement-products .fa-regular {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.3em;
    padding-bottom: 1em;
    text-align: center;
}

@media (min-width: 768px) {
    h3 {
        font-size: var(--title-font-size);
        text-align: left;
    }
}

p {
    font-size: var(--default-font-size);
    color: var(--alternative-color-text);
    line-height: 1.3em;
}

/* Catalogues */
.catalogues-container {
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--default-border-radius);
    border: 1px solid var(--netflix-accent-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
    z-index: 2;
}

@media (min-width: 768px) {
    .catalogues-container {
        padding: 2em;
    }
}

.sash-content {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--netflix-accent-color) #000;
}

.sash-content::-webkit-scrollbar {
    height: 8px;
}

.sash-content::-webkit-scrollbar-track {
    background: #000;
    border-radius: 10px;
}

.sash-content::-webkit-scrollbar-thumb {
    background: var(--netflix-accent-color);
    border-radius: 10px;
}

.content-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 150px;
    height: 220px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: var(--default-border-radius);
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .content-img {
        min-width: 200px;
        height: 300px;
    }
}

.content-img:hover {
    transform: scale(1.05);
    z-index: 3;
}

/* Film backgrounds */
#recommended-film-1 {
    background-image:url(../assets/film1.webp);
}
#recommended-film-2 {
    background-image:url(../assets/film4.webp);
}
#recommended-film-3 {
    background-image:url(../assets/film2.jpg);
}
#recommended-film-4 {
    background-image:url(../assets/film7.jpg);
}
#recommended-film-5 {
    background-image:url(../assets/film3.jpg);
}
#recommended-film-6 {
    background-image:url(../assets/film5.jpg);
}

#top-10-film-1 {
    background-image:url(../assets/film8.jpg);
}
#top-10-film-2 {
    background-image:url(../assets/film12.jpg);
}
#top-10-film-3 {
    background-image:url(../assets/film11.webp);
}
#top-10-film-4 {
    background-image:url(../assets/film14.jpg);
}
#top-10-film-5 {
    background-image:url(../assets/film6.jpg);
}
#top-10-film-6 {
    background-image:url(../assets/film18.jpeg);
}

#releases-film-1 {
    background-image:url(../assets/film9.jpg);
}
#releases-film-2 {
    background-image:url(../assets/film17.jpg);
}
#releases-film-3 {
    background-image:url(../assets/film16.webp);
}
#releases-film-4 {
    background-image:url(../assets/film15.webp);
}
#releases-film-5 {
    background-image:url(../assets/film10.jpg);
}
#releases-film-6 {
    background-image:url(../assets/film13.webp);
}

/* Avaliation Container */
.avaliation-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border: 1px solid var(--netflix-accent-color);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    gap: 1.5em;
    border-radius: var(--default-border-radius);
    text-align: center;
}

@media (min-width: 768px) {
    .avaliation-container {
        grid-template-columns: 3fr 3fr;
        padding: 2em;
        text-align: left;
    }
}

.text-area p {
    margin-bottom: 1em;
}

.avaliation-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.avaliation-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.avaliation-box {
    width: 100%;
    max-width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: var(--default-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    cursor: pointer;
    transition: all .3s ease;
}

.avaliation-box:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.8);
}

.avaliation-box .fa-regular {
    font-size: 1.5em;
}

.avaliation-box span {
    font-weight: bold;
    font-size: var(--default-font-size);
}

#avaliation-1 {
    color: #2ee509
}
#avaliation-2 {
    color: #70e509
}
#avaliation-3 {
    color: #e5d609
}
#avaliation-4 {
    color: var(--netflix-accent-color)
}

#user-avaliation {
    padding: 1em;
    width: 100%;
    max-width: 400px;
    outline: none;
    border-radius: var(--default-border-radius);
    resize: none;
    height: 100px;
    color: var(--netflix-accent-color);
    border: 1px solid var(--netflix-accent-color);
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
}

#user-avaliation:focus {
    box-shadow: 0 0 10px 5px rgba(229, 9, 20, 0.5);
    transform: translateY(-3px);
}

.sorteio-container {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--default-color-text);
    font-weight: 300;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: var(--default-border-radius);
    padding: 15px 0;
    margin-top: 1em;
}

.sorteio-container h4 {
    color: var(--default-color-text);
    font-size: var(--default-font-size);
    font-weight: 500;
    margin-bottom: 1em;
}

.sorteio-container span {
    color: var(--netflix-accent-color);
}

#footer {
    padding: 1.5em;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--netflix-accent-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-bottom: 1em;
    text-align: center;
}

@media (min-width: 768px) {
    #footer {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
}

.footer-links {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.footer-links a {
    color: var(--alternative-color-text);
    text-decoration: none;
    font-size: var(--alternative-font-size);
}

/* Mobile Menu */
@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block;
    }
    
    #nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
    }
    
    #nav-links.active {
        display: flex;
    }
    
    #nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-tools {
        display: none;
    }
    
    #logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}